@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Rokkitt:400,700";

$purple1: #6d2358;
$purple2: #b74b66;
$purple3: #f86d72;
$grayE: #eeeeee;
$grayB: #bbbbbb;
$gray3: #333333;
$gray6: #666666;
$green1: #336600;

$shadow1: rgba(0, 0, 0, 0.5);
$shadow2: rgba(0, 0, 0, 0.2);

$width: 1100px;
$mobileBreakpoint: 800px;

$time1: 100;
$time2: 200;




h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
  background-color: #eee;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
