.card-list {
	&-enter {
		height: 0;
		margin: 0;
		opacity: 0;
		transition: all $animTime2 ease-out;
	}
	
	&-enter&-enter-active {
		height: 250px;
		margin: 0 0 40px;
		opacity: 1;
	}
	
	&-leave {
		transition: all $animTime2 ease-in;
	}
	
	&-leave&-leave-active {
		height: 0;
		margin: 0;
		opacity: 0;
	}
}
