$purple1: #6d2358;
$purple2: #b74b66;
$purple3: #f86d72;
$grayE: #eee;
$grayB: #bbb;
$gray3: #333;
$gray6: #666;
$green1: #360;

$width: 1100px;
$mobileBreakpoint: 800px;

$animTime1: 0.1s;
$animTime2: 0.2s;
